# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.pyc

# Environment variables
.env
*.env

# Virtual environments
.venv/
env/
venv/

# Logs and temporary files
*.log
*.cache
*.tmp

.idea